// .blog-posts{
//   overflow: hidden;
// }
//
// .blog-posts ul{
//   list-style: none;
// }
//
// .blog-post-preview {
//   position: relative;
//   display: block;
//   float: left;
// }
.blog-posts{
  margin-top: 5%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid ;
  padding: 5%;
}

.blog-posts ul{
list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  a {
    color: white;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    padding: 10px;
    margin: 0 -10px;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid ;
    margin: 10px;
    align-items: center;
    text-decoration: none;
    text-align: center;
    &:hover {
      box-shadow: inset 0 0 0 1000px darken(blue, 25%);
      padding: 15px 10px;
      transition: all 0.3s;
    }
    span:first-child {
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 5px;
    }
    span:last-child {
      font-size: 14px;
    }
  }
  }
