::-webkit-scrollbar {
  display: none;
}



html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
}

body{
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}
.dropdown{
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}
.dropbtn {
    color: white;
    background-color: blue;
    font-size: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0px;
    font-family: sans-serif;
    border: none;
    transition: 0.70s;
    transform: rotate(-45deg);
    text-align: center;
    line-height: 100%;
}
.dropbtn span {
  visibility: hidden;
  margin: 0 auto;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.dropbtnActive {
  color: white;
  background-color: blue;
  font-size: .75rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0px;
  font-family: sans-serif;
  border: none;
  text-align: center;
  line-height: 100%;
  transition: 0.70s;
  transform: rotate(0deg);
  color: white;
}
.dropdown-content {
    display: block;
    position: absolute;
    left: 1.5rem;
    top: calc(-1.5rem + 22px);
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content span {
    color: black;
    font-family: sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content span:hover {background-color: #f1f1f1}

.side-links{
  position: absolute;
  display: block;
  width: auto;
  top: 50px;
  left: 14px;
  z-index: 9;
  text-align: left;
}

.side-links ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-links li{
  margin-bottom: 15px;
}

.side-links a{
  text-shadow: none;
  background-image: none;
  color: blue;
  padding: 0;
  font-size: 1.8rem;
  margin: 0;
}

.side-links-open{
  position: absolute;
  display: block;
  width: auto;
  /*transition: 0.5s;
  top: 180px;*/
  top: 50px;
  left: 14px;
  z-index: 9;
  text-align: left;
}

.side-links-open ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-links-open li{
  margin-bottom: 15px;
}

.side-links-open a{
  text-shadow: none;
  background-image: none;
  color: blue;
  padding: 0;
  font-size: 1.8rem;
  margin: 0;
}

.about-container{
  max-width: 960;
  max-height: 75vh;
  display: block;
  margin: 0 auto;
  z-index: 0;
}

.blog-container{
  position: absolute;
  top: 25%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -25%);
  max-width: 70vw;
  height: 100vh;
  background-color: yellow;
  z-index: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.blog-container h1{
  margin: 0 auto;
  padding-top: 2.5vh;
  padding-left: calc((20% / 2) + 15px);
  color: black;

  text-align: left;
  font-weight: lighter;
}

.blog-list ul{
  list-style: none;
  padding: 5px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.blog-post-preview{
  width: 80%;
  height: auto;
  display: block;
  position: relative;
  float: left;
  white-space: nowrap;
}

.blog-post-preview a{
  display: block;
  position: relative;
  float: left;
  transition: all 0.3s;
  margin: 0 -20px;
  flex: 1;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
  text-decoration: none;
  white-space: normal;
}

.blog-post-preview a:hover{
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);
  padding: 15px 10px;
  text-decoration: none;
  transition: all 0.3s;
}

.blog-post-preview-text{
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 50%;
}
.blog-post-preview-text  h3{
  margin: 0;
  padding: 0;
  font-weight: lighter;
  color: black;
}
.blog-post-preview-text  h4{
  margin: 0;
  padding: 0;
  font-weight: lighter;
}
.blog-post-preview-text  p{
  margin: 0;
  padding-top: 10px;
  max-height: 20vh;
  overflow: hidden;
  font-weight: lighter;
}
.blog-post-preview img{
  width: 50%;
}

.blog-post-container{
  background-color: blue;
  max-width: 70vw;
  height: 100vh;
  margin: 0 auto;
  white-space: nowrap;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.blog-post{
  background-color: yellow;
  padding: 10%;
  width: 80%;
  white-space: normal;
}

.blog-post-content code{
  background-color: #eff0f1;
}

.blog-post-content pre code{
  overflow: auto;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: inline-block;
  width: 100%;
}

.projects-container{
  position: absolute;
  top: 25%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -25%);
  max-width: 70vw;
  height: 100vh;
  background-color: yellow;
  z-index: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.projects-container h1{
  margin: 0 auto;
  padding-top: 2.5vh;
  padding-left: calc((20% / 2) + 15px);
  color: black;
  text-align: left;
  font-weight: lighter;
}

.projects-list ul{
  list-style: none;
  padding: 5px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.project-preview{
  width: 80%;
  height: auto;
  display: block;
  position: relative;
  float: left;
  white-space: nowrap;
}

.project-preview a{
  display: block;
  position: relative;
  float: left;
  transition: all 0.3s;
  margin: 0 -20px;
  flex: 1;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
  text-decoration: none;
  white-space: normal;
}

.project-preview a:hover{
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);
  padding: 15px 10px;
  text-decoration: none;
  transition: all 0.3s;
}

.project-preview-text{
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 50%;
}

.project-preview-text h3{
  margin: 0;
  padding-bottom: 10px;
  font-weight: lighter;
  color: black;
}

.project-preview-text h4{
  margin: 0;
  padding: 0;
  font-weight: lighter;
}
