@import url('https://fonts.googleapis.com/css?family=Rozha+One');

::-webkit-scrollbar {
    display: none;
}

html {
  font-family: 'Rozha One', serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body{
  background-color: #dcdcdc;
}

html,body{
margin:0;
padding:0;
}

.main-wrapper{
  width: 100%;
  height: 100%;
}

.index-wrapper{
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.three-placeholder{
  width: 100%;
  height: 100vh;
  position: relative;
}

.side-links-placeholder{
  width: 100%;
  height: 100vh;
  position: relative;
}

.scroll-up-button{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 4px solid #6E6E6E;
  border-bottom: 4px solid #6E6E6E;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-135deg);
  transform: translateX(-50%) rotate(-135deg);
}

.scroll-down-button{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 4px solid #6E6E6E;
  border-bottom: 4px solid #6E6E6E;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-315deg);
  transform: translateX(-50%) rotate(-315deg);
}

.three-canvas{
  width: 100vw;
  height: 100vh;
}

.side-links{
  height: 100%;
  width: 100%;
  background-color: #dcdcdc;
}

.side-links-content{
  padding: 20px;
  font-size: 50px;
  font-family: centuryLT, serif;
}

.side-links-content a{
  text-decoration: none;
  color: black;
}

.side-links-content a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .side-links-content{
    padding-top: 40px;
    font-size: 35px;
  }

  .scroll-up-button{
    width: 10px;
    height: 10px;
  }

  .scroll-down-button{
    width: 10px;
    height: 10px;
  }
}
